*.zip

*.drawio

*.log

data/genomics/raw_data

data/genomics/trimmed_data

data/transcriptomics/RNA-seq/raw_data

data/transcriptomics/Tn-seq/raw_data

data/transcriptomics/RNA-seq/trimmed_data

data/transcriptomics/Tn-seq/trimmed_data

**/raw_data

**/trimmed_data

**/articles

*.pdf

*.xlsx

*.xls

*.docx

*.doc

*.pptx
